data/processed/*.csv filter=lfs diff=lfs merge=lfs -text
data/train_test/*.csv filter=lfs diff=lfs merge=lfs -text
/data/processed/retail_customers_clean.csv filter=lfs diff=lfs merge=lfs -text
/data/train_test/X_test.csv filter=lfs diff=lfs merge=lfs -text
/data/train_test/X_train.csv filter=lfs diff=lfs merge=lfs -text
